/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

.header {
  background-color: rgb(0, 0, 0);
  display: flex;
  width: 95%;
  position: sticky;
  top: 0;
}

.logo {
  color: #fff;
}

/* navigation styling */
.nav {
  height: 3rem;
}

.nav-bar {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  justify-content: space-between;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  /* border: 2px solid red; */
  /* remove */
  overflow: hidden;
}

.nav-menu {
  padding: 2rem;
  /* border: 1px solid red; */
  /* REMOVE */
  border-radius: 10px;
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-bottom: 2rem;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  margin-left: 1rem;
  margin-bottom: 0;
}

.nav-link {
  position: relative;
  color: #fff;
  display: block;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: 0.2s;
  text-decoration: underline;
  text-decoration-color: #f7ff06;
  text-decoration-thickness: 4px;
}

.toggle-nav {
  color: #fff;
  opacity: 1;
  cursor: pointer;
  filter: drop-shadow(0 0 1px rgb(248, 247, 247));
}

body {
  background: rgb(3, 3, 3);
  color: #fff;
  padding: 25px;
  font-family: monospace;
  font-weight: 500;
  font-size: 1rem;
  margin: 2rem;
  width: 90%;
  line-height: 1.5;
}

/* responsive image */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
p {
  margin: 0;
}

/* profile picture */
.about-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0.2rem;
  width: 100%;
}

.profile-img {
  width: 230px;
  border-radius: 100px;
  object-fit: cover;
  border: 2px solid #f7ff06;
}

/* home section */
.home {
  /* position: inherit; */
  overflow: hidden;
  /* top: 100px; */
  /* clear: left; */
  /* display: inline-block; */
}

.home-container {
  /* height: 3rem; */
  row-gap: 5rem;
}

.home-title {
  position: inherit;
  top: 10%;
  text-align: center;
  font-family: "Codystar", "Jacques Francois Shadow", cursive;
  font-size: 8.5rem;
  color: #fff;
  width: 100%;
  line-height: 1;
  transition: 0.5s;
  /* border: red 1px solid; */
  /* REMOVE */
}

.home-container p {
  text-align: center;
  top: 20%;
  font-size: 2rem;
  /* border: 1px solid red; */
  /* remove */
}

.home-scroll {
  display: flex;
  justify-content: center;
  /* position: relative; */
  /* top: 20%; */
  margin: 0 auto;
  align-self: flex-end;
  padding-bottom: 2rem;
  width: 10%;
  color: #f7ff06;
  size: 500px;
  /* border: 1px solid red; */
  /* remove */
}

/* about section */
.about-container,
.contact-container {
  justify-items: center;
  row-gap: 2rem;
  text-align: center;
}

.about-container a {
  color: #fff;
  border: 2px solid #f7ff06;
  display: inline-block;
  padding: 12px 18px;
  border-radius: 25px;
  text-decoration: none;
}

.about-container a:hover {
  background-color: #fff;
  color: #253a52;
  border: 2px dashed #253a52;
  border-radius: 35px;
  font-size: 18px;
  transition: 0.2s;
  text-decoration: wavy;
}

.section-title {
  margin-bottom: 3rem;
}

.section-title::after {
  width: 64px;
  top: 3rem;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  color: #f7ff06;
  margin: 2rem 0;
  font-family: "Codystar", "Jacques Francois Shadow", cursive;
  /* border: 1px solid red; */
  /* remove */
}

/* .n .about-subtitle {
  color: #f7ff06;
  padding-bottom: 10px;
  font-size: 2.5rem;

  border: 1px solid red;
}  */

.skills-container {
  row-gap: 2rem;
  /* border: 1px solid red; */
}

.skills-subtitle {
  color: rgb(43, 189, 226);
  margin-bottom: var(--mb-3);
}

.skills-name {
  /* text-align: center; */
  display: inline;
  font-size: 20px;
  margin: 1rem 1.5rem;
  padding: 0.35rem 0.5rem;
  border: 3px solid #f7ff06;
  border-radius: 35px;
}

.skills-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skills-box span {
  padding: 20px;
  color: #fff;
  text-align: center;
}

/* work section */
.work-heading {
  color: #f7ff06;
  padding-top: 30px;
  padding-bottom: 2px;
}

.work-link p {
  padding-bottom: 30px;
  font-size: 18px;
}

code {
  color: rgb(214, 62, 214);
  font-family: monospace;
  font-variant: small-caps;
}

.work-img a {
  border-radius: 35px;
  border: 2px solid #f7ff06;
  color: #fff;
  display: inline-block;
  padding: 2px 10px;
  /* margin-top: 0; */
  position: relative;
  text-decoration: none;
}

.work-container {
  /* display: flex;
  justify-items: center; */
  margin: 10px auto;
  row-gap: 2rem;
  /* column-count: 2; */
  column-gap: 20px;
  /* border: 1px solid red; */
  justify-content: center;
}

.work-link {
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.work-link a:hover {
  background-color: #fff;
  color: #253a52;
  border: 2px dashed #253a52;
  border-radius: 35px;
  font-size: 20px;
  transition: 0.2s;
  text-decoration: wavy;
}

/* reach-out */
.social-container {
  /* border: 1px solid red; */
}

.contact-container p {
  /* margin-top: 8px; */
  /* border: 1px solid red; */
  /* remove */
  text-align: center;
}

.btns a {
  display: inline-block;
  justify-content: space-evenly;
  margin: 0 auto;
  /* border: 1px solid red;  */
  /* remove */
  align-items: center;
  padding-right: 1rem;
  margin-left: 0.5rem;
  /* margin-right: 1rem; */
  /* margin-bottom: 1; */
}